*,
*::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    height: 720px * 1.1;
    width: 1280px * 1.1;
    box-shadow: 10px 10px 8px #888888;
}



.title {
    position: absolute;
    top: 30px;
}

.nextBtn,
.previousBtn {
    position: absolute;
    opacity: .7;
}

.previousBtn {
    left: 10px;
}

.nextBtn {
    right: 10px;
}

.dot {
    border: 5px solid white;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background-color: white;
    opacity: .5;
    transition: all 300ms ease-in-out;
}

.dot:hover {
    opacity: .8;
    height: 16px;
    width: 16px;
}

.dot.active {
    opacity: .8;
    height: 16px;
    width: 16px;
}

.dots {
    position: absolute;
    bottom: 150px;
    display: flex;
    gap: 10px;
}